{% include 'includes/head.html' %}
<body>
    <div class="container mt-5"  style="height: 60vh;">
        <form action="javascript:login()" method="post" class="d-flex justify-content-center align-items-center">
            <div style="width: 400px;">
                <div class="row mb-5">
                    <div class="col-12 d-flex justify-content-center ">
                        <h2 class="display-4">Vocab Learning</h2>
                    </div>
                </div>  
                <div class="row my-3">
                    <div class="col-12 d-flex justify-content-center">
                        <input type="text" placeholder="Username" name="username" id="username" required class="form-control form-control-lg">
                    </div>
                </div>
    
                <div class="row my-3">
                    <div class="col-12 d-flex justify-content-center">
                        <input type="password" placeholder="Password" name="password" id="password" required class="form-control form-control-lg">
                    </div>
                </div>
                <div class="row mt-5 mb-3">
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                </div>   
            </div>
        </form>

    

        <div class="container">
            <p style="text-align: center; color: red;" id="error-message"></p>
        </div>
    </div>  
</body>

<script>
    const HOST = window.location.host.split(':')[0] == 'localhost' ? 'http://localhost:8888' : 'https://' + window.location.host; 
    async function login() {
        const options = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                username: document.querySelector('#username').value, 
                password: document.querySelector('#password').value
            })
        };
        try {
            console.log(options);
            var response = await fetch(HOST + '/login', options);
            if(response.status == 200) window.location.href = HOST + "/"
            else if(response.status == 401) {
                document.querySelector('#error-message').innerHTML = `<b>Invalid username or password</b>`
            }
        } catch (e) {
            console.log(e);
        }
    }
</script>


{% include './includes/end.html' %}