{% include 'includes/head.html' %}
</head>

<body  vocabSetId={{ vocabSetId }}>
    {% include './includes/navigation.html'%}
    <div class="container-fluid">
        <div class="row py-3  justify-content-center align-items-center">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createVocabModal">Create New Vocab</button>
            </div>
        </div>

        <div class="row py-3 justify-content-center align-items-center">
            <div class="col-lg-6 d-flex list-group" id="list-group">

                <!-- <button type="button" onclick="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{{ url_for('public', path='/img/logo.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0">List group item heading</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                      </div>
                      <small class="opacity-50 text-nowrap">now</small>
                    </div>
                  </button> -->

            </div>
        </div>
    </div>

    <div class="modal fade" id="vocabModal" tabindex="-1" aria-labelledby="vocabModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vocabModalLabel">Vocab Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <p class="mb-0 opacity-75" id="vocabModal-vocabMeaning"></p><br>
                    <p class="mb-0 opacity-75" id="vocabModal-vocabExample"></p><br>
                    <p class="mb-0 opacity-75" id="vocabModal-vocabFamiliarity"></p>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeVocabModal" tabindex="-1" aria-labelledby="changeVocabModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeVocabModalLabel">New VocabSet name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="vocabWord" class="col-form-label">Word:</label>
                    <input type="text" class="form-control" id="changeVocabModal-vocabWord">
                    <label for="vocabMeaning" class="col-form-label">Meaning:</label>
                    <textarea  type="text" class="form-control" id="changeVocabModal-vocabMeaning"></textarea>
                    <label for="vocabExample" class="col-form-label">Example:</label>
                    <textarea  type="text" class="form-control" id="changeVocabModal-vocabExample"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="changeVocab()">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createVocabModal" tabindex="-1" aria-labelledby="createVocabModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createVocabModalLabel">New Vocab</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="vocabWord" class="col-form-label">Word:</label>
                    <input type="text" class="form-control" id="createVocabModal-vocabWord">
                    <label for="vocabMeaning" class="col-form-label">Meaning:</label>
                    <textarea  type="text" class="form-control" id="createVocabModal-vocabMeaning"></textarea>
                    <label for="vocabExample" class="col-form-label">Example:</label>
                    <textarea  type="text" class="form-control" id="createVocabModal-vocabExample"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createVocab()">Create</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteVocabModal" tabindex="-1" aria-labelledby="deleteVocabModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteVocabModalLabel">Delete Vocab</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <p class="mb-0 opacity-75" id="deleteVocabModal-vocabMeaning"></p><br>
                    <p class="mb-0 opacity-75" id="deleteVocabModal-vocabExample"></p>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteVocab()">Delete</button> 
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
            </div>
            </div>
        </div>
    </div>

</body>

<script>
    const HOST = window.location.host.split(':')[0] == 'localhost' ? 'http://localhost:8888' : 'https://' + window.location.host; 
    group = document.querySelector('#list-group');
    vocabSetId = document.querySelector('body').getAttribute('vocabSetId');
    async function getVocabList() {
        try {
            var response = await fetch(HOST + `/get-vocabs/${vocabSetId}`);
            if(response.status == 200) {
                response = await response.json();
                console.log(response);
                var element = "";
                for(var res of response) {
                    element += `
                    <div class="container">
                        <div class="row py-2 justify-content-center align-items-center">
                            <div class="list-group col-lg-9 d-flex">
                                <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                    <img src="{{ url_for('public', path='/img/logo.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                                    <div class="d-flex gap-2 w-100 align-items-center" data-bs-toggle="modal" data-bs-target="#vocabModal" vocabWord="${res.word}" vocabMeaning="${res.meaning}" vocabExample="${res.example ? res.example : ""}" vocabFamiliarity="${res.familiarity}">
                                        <h6 class="mb-0 fw-bold" vocabId="${res.id}">${res.word}</h6>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#changeVocabModal" vocabWord="${res.word}" vocabMeaning="${res.meaning}" vocabExample="${res.example ? res.example : ""}" vocabFamiliarity="${res.familiarity}" vocabId="${res.id}">Edit</button>
                                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteVocabModal" vocabId="${res.id}" vocabWord="${res.word}" vocabMeaning="${res.meaning}" vocabExample="${res.example ? res.example : ""}" type="button">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                }
                group.innerHTML = element;
            }
            else if(response.status == 422) {
                console.log('Validation Error');
            }
        } catch (e) {
            console.log(e);
        }
    }
    getVocabList();

    async function changeVocab() {
        const options = {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                vocabSetId: document.querySelector('body').getAttribute('vocabSetId'),
                word: document.querySelector('.modal-body #changeVocabModal-vocabWord').value,
                meaning: document.querySelector('.modal-body #changeVocabModal-vocabMeaning').value,
                example: document.querySelector('.modal-body #changeVocabModal-vocabExample').value,
                familiarity: parseInt(document.getElementById('changeVocabModal').getAttribute('vocabFamiliarity')),
                id: parseInt(document.getElementById('changeVocabModal').getAttribute('vocabId'))
            })
        };
        console.log(options);
        try {
            console.log(options);
            var response = await fetch(HOST + '/update-vocab', options);
            if(response.status == 201) console.log('Vocab is updated');
            else if(response.status == 422) {
                console.log('Validation Error');
            }
            bootstrap.Modal.getInstance(document.getElementById('changeVocabModal')).hide()
        } catch (e) {
            console.log(e);
        }
        getVocabList();
    }

    async function deleteVocab() {
        const options = {
            method: 'DELETE',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                id: parseInt(document.getElementById('deleteVocabModal').getAttribute('vocabId')),
                vocabSetId: parseInt(document.querySelector('body').getAttribute('vocabSetId'))
            })
        };
        console.log(options);
        try {
            console.log(options);
            var response = await fetch(HOST + '/delete-vocab', options);
            if(response.status == 202) console.log('Vocab is deleted');
            else if(response.status == 422) {
                console.log('Validation Error');
            }
        } catch (e) {
            console.log(e);
        }
        getVocabList();
    }

    async function createVocab() {
        const options = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                vocabSetId: document.querySelector('body').getAttribute('vocabSetId'),
                word: document.querySelector('.modal-body #createVocabModal-vocabWord').value,
                meaning: document.querySelector('.modal-body #createVocabModal-vocabMeaning').value,
                example: document.querySelector('.modal-body #createVocabModal-vocabExample').value,
            })
        };

        try {
            console.log(options);
            var response = await fetch(HOST + '/post-vocab', options);
            if(response.status == 201) console.log('Vocab created');
            else if(response.status == 422) {
                console.log('Validation Error');
            }
            bootstrap.Modal.getInstance(document.getElementById('createVocabModal')).hide()
            document.querySelector('.modal-body #createVocabModal-vocabWord').value = ''
            document.querySelector('.modal-body #createVocabModal-vocabMeaning').value = ''
            document.querySelector('.modal-body #createVocabModal-vocabExample').value = ''
        } catch (e) {
            console.log(e);
        }
        getVocabList();
    }

</script>

<script>
    // reference: https://getbootstrap.com/docs/5.0/components/modal/
    // for showing vocab details
    var vocabModal = document.getElementById('vocabModal')
    vocabModal.addEventListener('show.bs.modal', function (event) {

    var button = event.relatedTarget

    var vocabWord = button.getAttribute('vocabWord')
    var vocabMeaning = button.getAttribute('vocabMeaning')
    var vocabExample = button.getAttribute('vocabExample')
    var vocabFamiliarity = button.getAttribute('vocabFamiliarity')

    var modalTitle = vocabModal.querySelector('.modal-title')
    vocabModal.querySelector('.modal-body #vocabModal-vocabMeaning').innerHTML = '<b>Meaning:</b> ' + vocabMeaning
    vocabModal.querySelector('.modal-body #vocabModal-vocabExample').innerHTML = '<b>Example:</b> ' + vocabExample
    vocabModal.querySelector('.modal-body #vocabModal-vocabFamiliarity').innerHTML = '<b>Familiarity:</b> ' + vocabFamiliarity

    modalTitle.innerHTML = 'Vocab Info <br>@' + vocabWord
    })
</script>


<script>
    // reference: https://getbootstrap.com/docs/5.0/components/modal/
    // for updating vocab
    var changeVocabModal = document.getElementById('changeVocabModal')
    changeVocabModal.addEventListener('show.bs.modal', function (event) {

        var button = event.relatedTarget

        var vocabWord = button.getAttribute('vocabWord')
        var vocabMeaning = button.getAttribute('vocabMeaning')
        var vocabExample = button.getAttribute('vocabExample')
        var modalTitle = changeVocabModal.querySelector('.modal-title')
        changeVocabModal.querySelector('.modal-body #changeVocabModal-vocabWord').value = vocabWord
        changeVocabModal.querySelector('.modal-body #changeVocabModal-vocabMeaning').value = vocabMeaning
        changeVocabModal.querySelector('.modal-body #changeVocabModal-vocabExample').value = vocabExample

        modalTitle.innerHTML = 'Vocab Edit <br>@' + vocabWord
        changeVocabModal.setAttribute('vocabFamiliarity', button.getAttribute('vocabFamiliarity'))
        changeVocabModal.setAttribute('vocabId', button.getAttribute('vocabId'))
    })
</script>

<script>
    // reference: https://getbootstrap.com/docs/5.0/components/modal/
    // for updating vocab
    var deleteVocabModal = document.getElementById('deleteVocabModal')
    deleteVocabModal.addEventListener('show.bs.modal', function (event) {

        var button = event.relatedTarget

        var vocabId = button.getAttribute('vocabId')
        var vocabWord = button.getAttribute('vocabWord')
        var vocabMeaning = button.getAttribute('vocabMeaning')
        var vocabExample = button.getAttribute('vocabExample')

        var modalTitle = deleteVocabModal.querySelector('.modal-title')
        deleteVocabModal.querySelector('.modal-body #deleteVocabModal-vocabMeaning').innerHTML = '<b>Meaning:</b> ' + vocabMeaning
        deleteVocabModal.querySelector('.modal-body #deleteVocabModal-vocabExample').innerHTML = '<b>Example:</b> ' + vocabExample

        modalTitle.innerHTML = 'Delete Vocab <br>@' + vocabWord
        deleteVocabModal.setAttribute('vocabId', vocabId)
    })
</script>
{% include './includes/end.html' %}