{% include 'includes/head.html' %}
</head>

<body>
    {% include './includes/navigation.html'%}
    <div class="container-fluid">
        <div class="row py-3  justify-content-center align-items-center">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-outline-primary">Create New Vocab List</button>
            </div>
        </div>

        <div class="row py-3 justify-content-center align-items-center">
            <div class="col-lg-6 d-flex list-group" id="list-group">

                <!-- <button type="button" onclick="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{{ url_for('public', path='/img/logo.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0">List group item heading</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                      </div>
                      <small class="opacity-50 text-nowrap">now</small>
                    </div>
                  </button> -->

            </div>
        </div>
    </div>







    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data="@mdo">Open modal for @mdo</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data="@fat">Open modal for @fat</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data="@getbootstrap">Open modal for @getbootstrap</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">New name:</label>
                <input type="text" class="form-control" id="recipient-name">
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Change VocabSet Name</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
        </div>
        </div>
    </div>
    </div>












</body>
<script>
    const HOST = window.location.host.split(':')[0] == 'localhost' ? 'http://localhost:8888' : 'https://' + window.location.host; 
    group = document.querySelector('#list-group');
    async function getVocabSetList() {
        const options = {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        };
        try {
            console.log(options);
            var response = await fetch(HOST + '/get-vocabsets', options);
            if(response.status == 200) {
                response = await response.json();
                console.log(response);
                var element = "";
                for(var res of response) {
                    element += `
                    <div class="container">
                        <div class="row py-2 justify-content-center align-items-center">
                            <div class="list-group">
                                <div type="button" onclick="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" data-bs-toggle="modal" data-bs-target="#exampleModal" vocabSetName="${res.vocabSetName}" vocabSetId="${res.id}">
                                    <img src="{{ url_for('public', path='/img/logo.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                                    <div class="d-flex gap-2 w-100 align-items-center">
                                        <h6 class="mb-0 fw-bold" vocabSetName="${res.vocabSetName}" vocabSetId="${res.id}">${res.vocabSetName}</h6>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-success">Edit</button>
                                        <button class="btn btn-outline-danger" onclick="deleteSet(${res.id})" type="button">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                }
                group.innerHTML = element;
            }
            else if(response.status == 422) {
                console.log('Validation Error');
            }
        } catch (e) {
            console.log(e);
        }
    }
    getVocabSetList();
</script>




<script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    var vocabSetName = button.getAttribute('vocabSetName')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyInput = exampleModal.querySelector('.modal-body input')

    modalTitle.innerHTML = 'New VocabSet name for <br>@' + vocabSetName
    modalBodyInput.value = vocabSetName
    })

</script>

{% include './includes/end.html' %}