{% include 'includes/head.html' %}
</head>

<body  vocabSetId={{ vocabSetId }}>
    {% include './includes/navigation.html'%}
    <div class="container-fluid">
        <div class="row py-3  justify-content-center align-items-center">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createVocabModal">Create New Vocab</button>
            </div>
        </div>

        <div class="row py-3 justify-content-center align-items-center">
            <div class="col-lg-6 d-flex list-group" id="list-group">

                <!-- <button type="button" onclick="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{{ url_for('public', path='/img/logo.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0">List group item heading</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                      </div>
                      <small class="opacity-50 text-nowrap">now</small>
                    </div>
                  </button> -->

            </div>
        </div>
    </div>

    <div class="modal fade" id="vocabModal" tabindex="-1" aria-labelledby="vocabModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vocabModalLabel">Vocab Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <p class="mb-0 opacity-75" id="vocabModal-vocabMeaning"></p><br>
                    <p class="mb-0 opacity-75" id="vocabModal-vocabExample"></p><br>
                    <p class="mb-0 opacity-75" id="vocabModal-vocabFamiliarity"></p>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeVocabModal" tabindex="-1" aria-labelledby="changeVocabModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeVocabModalLabel">New VocabSet name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="vocabWord" class="col-form-label">Word:</label>
                    <input type="text" class="form-control" id="changeVocabModal-vocabWord">
                    <label for="vocabMeaning" class="col-form-label">Meaning:</label>
                    <textarea  type="text" class="form-control" id="changeVocabModal-vocabMeaning"></textarea>
                    <label for="vocabExample" class="col-form-label">Example:</label>
                    <textarea  type="text" class="form-control" id="changeVocabModal-vocabExample"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="changeVocab()">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createVocabModal" tabindex="-1" aria-labelledby="createVocabModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createVocabModalLabel">New Vocab</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="vocabWord" class="col-form-label">Word:</label>
                    <input type="text" class="form-control" id="createVocabModal-vocabWord">
                    <label for="vocabMeaning" class="col-form-label">Meaning:</label>
                    <textarea  type="text" class="form-control" id="createVocabModal-vocabMeaning"></textarea>
                    <label for="vocabExample" class="col-form-label">Example:</label>
                    <textarea  type="text" class="form-control" id="createVocabModal-vocabExample"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createVocab()">Create</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteVocabModal" tabindex="-1" aria-labelledby="deleteVocabModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteVocabModalLabel">Delete Vocab</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <p class="mb-0 opacity-75" id="deleteVocabModal-vocabMeaning"></p><br>
                    <p class="mb-0 opacity-75" id="deleteVocabModal-vocabExample"></p>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteVocab()">Delete</button> 
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>   
            </div>
            </div>
        </div>
    </div>

</body>

<script src="{{ url_for('public', path='/js/vocabPage/processVocabPage.js') }}"></script>

<script src="{{ url_for('public', path='/js/vocabPage/vocabDetail.js') }}"></script>

<script src="{{ url_for('public', path='/js/vocabPage/updateVocab.js') }}"></script>

<script src="{{ url_for('public', path='/js/vocabPage/deleteVocab.js') }}"></script>
{% include './includes/end.html' %}